<div  *ngIf="createpost==true"
  class=" z-50 top-40  fixed "
>  
<h4>create post </h4> 
    <!-- <form [formGroup]="formupdateuser" (ngSubmit)="handleupdateuser" class="px-8 py-8 space-y-6 bg-white shadow-gray-500 shadow-2xl rounded-xl ">
  <div>
    <button (click)="demupdate()" class="text-center text-xl font-semibold text-gray-800">X</button>
    <hr/>
  </div>  
      <div class="flex space-x-4">
        <div>
          <label
            htmlFor="email"
            class="block text-sm font-medium text-gray-700"
          >
            Full Name
          </label>
          <div class="mt-1">
            <input
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-fuchsia-100 focus:border-fuchsia-200 sm:text-sm"
              type="text"
              placeholder="Username"
              formControlName="username"
            />
          </div>
        </div>
        <div>
          <label
            htmlFor="password"
            class="block text-sm font-medium text-gray-700"
          >
            Gender
          </label>
          <div class="mt-1 relative">
            <input
              type="text"
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-fuchsia-100 focus:border-fuchsia-200 sm:text-sm"
              placeholder="Last name"
              formControlName="gender"
            />
          </div>
        </div>
        <div>
          <label
            htmlFor="password"
            class="block text-sm font-medium text-gray-700"
          >
            Phone Number
          </label>
          <div class="mt-1 relative">
            <input
              type="text"
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-fuchsia-100 focus:border-fuchsia-200 sm:text-sm"
              placeholder="Phone Number"
              formControlName="mobile"
            />
          </div>
        </div>
      </div>

     
        <div class="flex space-x-4">
          <div>
          <label
            htmlFor="email"
            class="block text-sm font-medium text-gray-700"
          >
            Email Adresse
          </label>
          <div class="mt-1">
            <input
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-fuchsia-100 focus:border-fuchsia-200 sm:text-sm"
              type="email"
              placeholder="Email"
              formControlName="email"
            />
          </div>
          </div>

          <div>
          <label
            htmlFor="password"
            class="block text-sm font-medium text-gray-700"
          >
            Password
          </label>
          <div class="mt-1 relative">
            <input
              type="password"
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-fuchsia-100 focus:border-fuchsia-200 sm:text-sm"
              placeholder="Password"
              formControlName="password"
            />
          </div>
          </div>
          <div>
          <label
            htmlFor="password"
            class="block text-sm font-medium text-gray-700"
          >
            Profile
          </label>
          <div class="mt-1 relative">
            <input
              type="text"
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-fuchsia-100 focus:border-fuchsia-200 sm:text-sm"
              placeholder="Profile"
              formControlName="image"
            />
          </div>
          </div>
        </div>
        
       
        <div class="w-full flex justify-between space-x-4">
          <div class="w-1/2">
          <label
            htmlFor="text"
            class="block  text-sm font-medium text-gray-700 "
          >
           Bio
          </label>
          <div class="mt-1">
            <input
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-fuchsia-100 focus:border-fuchsia-200 sm:text-sm"
              type="text"
              placeholder="Bio"
              formControlName="bio"
            />
          </div>
          </div>

          <div class="w-1/2">
          <label
            htmlFor="password"
            class="block text-sm font-medium text-gray-700"
          >
            Website
          </label>
          <div class="mt-1 relative">
            <input
              type="text"
              class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-fuchsia-100 focus:border-fuchsia-200 sm:text-sm"
              placeholder="Website"
              formControlName="website"
            />
          </div>
          </div>
      </div>

        
       <div>
          <button
            class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-fuchsia-500 hover:bg-fuchsia-800"
          >
            update
          </button>
        </div>
      
    </form> -->
</div>

