<!-- profile.component.html -->
<div class=" ">
  <div class="w-full  relative">
    <img [src]="coverImageUrl" alt="" class="w-full h-full object-cover" />
    <img
      [src]="profileImageUrl"
      alt=""
      class="-translate-y-16 w-36 h-36 rounded-full object-cover absolute left-0 right-0 mx-auto top-200 "
    />
  </div>
  <div class="w-full bg-white  p-10 mt-6 rounded-md">
    <div
      class=" shadow-xl rounded-2xl bg-blend-soft-light px-5 py-5"
    >

      <div class="flex flex-col items-center gap-0.5">

        <span class="text-2xl">Jane Doe</span>

        <div class=" flex  space-x-2 justify-center pb-1">
               <!-- <div class="flex items-center"> -->
                   <!-- <svg
              class="h-5 w-5"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
          
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
              />
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
              />
                   </svg> -->
                   <span class="text-xs text-gray-400">Employer</span>
               <!-- </div> -->

                    <span class="text-xs">||</span>

               <!-- <div class="flex items-center"> -->
                    <span class="text-xs text-gray-400">Podcaster</span>
               <!-- </div> -->

                    <span class="text-xs">||</span>

               <!-- <div class="flex items-center"> -->
                    <span class="text-xs text-gray-400">Content Creator</span>
               <!-- </div> -->
        </div>

        <div class="flex justify-between space-x-6 py-2">
           <div class=" flex  space-x-1 justify-center pb-1">

             <span class="text-xs text-gray-600  hover:cursor-pointer">38 073</span>
             <span class="text-xs text-gray-600  hover:cursor-pointer">followers</span>

             <span class="text-xs pl-1">.</span>

              <span class="text-xs text-gray-600  hover:cursor-pointer">38 073</span>
             <span class="text-xs text-gray-600  hover:cursor-pointer">followings</span>
           </div>

           <div class="flex space-x-2 hover:cursor-pointer">
              <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/480px-Facebook_f_logo_%282019%29.svg.png"
          class="h-6 w-6 rounded-full"
          alt=""
               />
              <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv22oisqpjaO60m0De9DubVMU3LHveB1Y9y45rnGBbshbcfowTx1Wp&usqp=CAE&s"
          class="h-6 w-6 rounded-full"
          alt=""
              />
           </div> 

          <div class=" flex  space-x-1 justify-center pb-1">
  
               <span class="text-xs text-gray-400">Ben Guerir</span>
                
               <span class="text-xs">,</span>
  
               <span class="text-xs text-gray-400">Marrakech-Safi</span>
  
               <span class="text-xs">,</span>
  
               <span class="text-xs text-gray-400">Maroc</span>
          </div>
        </div>
        

        <div class="space-x-1 flex items-center">

           <button
          (click)="follow()"
          class="border-none bg-pink-400 text-white px-3 py-1 rounded-3xl cursor-pointer hover:transition-colors hover:bg-pink-700"
          >
          follow
           </button>

          <button
          (click)="follow()"
          class="border-2 border-gray-100 shadow-sm text-pink-800 px-3 py-1 rounded-3xl transition-colors  cursor-pointer hover:transition-colors hover:bg-pink-500 hover:text-white hover:border-gray-50"
          >
          Message
          </button>

          <button
          (click)="update()"
          (dblclick)="deleteupdate()"
          class="border-2 border-gray-100 shadow-sm text-pink-800 px-3 py-1 rounded-3xl transition-colors  cursor-pointer hover:transition-colors hover:bg-pink-500 hover:text-white hover:border-gray-50"
          >
          plus
          </button>
       </div>
       


      </div>
     
     
      <div class="my-4">
        <hr />
      </div>

      <div class="flex justify-between items-center">

        <div class="space-x-4 items-center">
           <span class="text-gray-400 text-sm font-medium w-60 h-10 p-2 rounded-md hover:bg-gray-100 hover:text-gray-600 hover:transition-all hover:cursor-pointer" routerLink="/profile">Publication</span>
           <span class="text-gray-400 text-sm font-medium w-60 h-10 p-2 rounded-md hover:bg-gray-100 hover:text-gray-600 hover:transition-all hover:cursor-pointer" routerLink="/profile/a-propos">A propos</span>
           <span class="text-gray-400 text-sm font-medium w-60 h-10 p-2 rounded-md hover:bg-gray-100 hover:text-gray-600 hover:transition-all hover:cursor-pointer" routerLink="/profile/reels">Reels</span>
           <span class="text-gray-400 text-sm font-medium w-60 h-10 p-2 rounded-md hover:bg-gray-100 hover:text-gray-600 hover:transition-all hover:cursor-pointer" routerLink="/profile/photos">Photos</span>
        </div>
        <svg class="w-7 h-7 bg-gray-200 rounded-md p-1 items-center" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
        <path strokeLinecap="round" strokeLinejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
        </svg>
      </div>

    </div>
  </div>
  <!-- make routing for profile components  -->
  <router-outlet></router-outlet>
  
</div>
<div  >
  <app-update-user  [updateUser]="updateUser"></app-update-user>
</div>
