<div style="flex: 3; ;overflow-y: scroll;" 
  class="scrollbar scrollbar-hide overflow-y-hidden sticky top-6 rounded-md overflow-hidden bg-white p-4 h-screen" >
  <div >
  <div class="p-1">
    <h1 class="text-xl text-gray-600  hover:cursor-pointer">Invitations</h1>
    <div class="space-x-4 p-3 drop-shadow-md hover:bg-gray-100">
      <div class="flex space-x-3 items-center">
        <img class="h-8 w-8 rounded-full" src="../../../assets/logo.jpeg" />
        <div>
          <p class="text-sm">Said Said</p>
          <span class="text-xs">3 amies on commun</span>
        </div>
      </div>
      <div class="flex space-x-2 justify-center">
        <button class="bg-fuchsia-300 p-1 border-none rounded-md text-xs">
          confirmer
        </button>
        <button class="p-1 text-xs">supprimer</button>
      </div>
    </div>

    <div class="space-x-4 p-3 drop-shadow-md hover:bg-gray-100">
      <div class="flex space-x-3 items-center">
        <img class="h-8 w-8 rounded-full" src="../../../assets/logo.jpeg" />
        <div>
          <p class="text-sm">Said Said</p>
          <span class="text-xs">3 amies on commun</span>
        </div>
      </div>
      <div class="flex space-x-2 justify-center">
        <button class="bg-fuchsia-300 p-1 border-none rounded-md text-xs">
          confirmer
        </button>
        <button class="p-1 text-xs">supprimer</button>
      </div>
    </div>
  </div>
  <hr />
  </div>
  <div>
    <div class="flex justify-between p-2 items-center">
      <h1 class="text-xl text-gray-600 hover:cursor-pointer">Contacts</h1>
      <div class="flex space-x-2 items-center">
        <svg
          class="h-5 w-5  hover:cursor-pointer"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          strokeWidth="{1.5}"
          stroke="currentColor"
          className="w-6 h-6"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>
        <svg
          class="h-5 w-5 hover:cursor-pointer"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
          />
        </svg>
      </div>
    </div>
    <div   class=" flex flex-col space-y-2 ">
      <div class=" rounded-md m-1 flex space-x-2 items-center  hover:bg-gray-100 hover:cursor-pointer">
        <img class="h-8 w-8 rounded-full " src="../../../assets/logo.jpeg" alt="">
        <span class="text-sm">Mohcine Lnaouar</span>
      </div>
      <div class=" rounded-md m-1 flex space-x-2 items-center  hover:bg-gray-100 hover:cursor-pointer">
        <img class="h-8 w-8 rounded-full" src="../../../assets/logo.jpeg" alt="">
        <span class="text-sm">Mohcine Lnaouar</span>
      </div>
      <div class=" rounded-md m-1 flex space-x-2 items-center  hover:bg-gray-100 hover:cursor-pointer">
        <img class="h-8 w-8 rounded-full" src="../../../assets/logo.jpeg" alt="">
        <span class="text-sm">Mohcine Lnaouar</span>
      </div>
      <div class="rounded-md m-1 flex space-x-2 items-center  hover:bg-gray-100 hover:cursor-pointer">
        <img class="h-8 w-8 rounded-full" src="../../../assets/logo.jpeg" alt="">
        <span class="text-sm">Mohcine Lnaouar</span>
      </div>
      <div class=" rounded-md m-1 flex space-x-2 items-center  hover:bg-gray-100 hover:cursor-pointer">
        <img class="h-8 w-8 rounded-full" src="../../../assets/logo.jpeg" alt="">
        <span class="text-sm">Mohcine Lnaouar</span>
      </div>
      <div class="rounded-md m-1 flex space-x-2 items-center  hover:bg-gray-100 hover:cursor-pointer">
        <img class="h-8 w-8 rounded-full" src="../../../assets/logo.jpeg" alt="">
        <span class="text-sm">Mohcine Lnaouar</span>
      </div>
      <div class="rounded-md m-1 flex space-x-2 items-center  hover:bg-gray-100 hover:cursor-pointer">
        <img class="h-8 w-8 rounded-full" src="../../../assets/logo.jpeg" alt="">
        <span class="text-sm">Mohcine Lnaouar</span>
      </div>
      <div class="rounded-md m-1 flex space-x-2 items-center  hover:bg-gray-100 hover:cursor-pointer">
        <img class="h-8 w-8 rounded-full" src="../../../assets/logo.jpeg" alt="">
        <span class="text-sm">Mohcine Lnaouar</span>
      </div>
      <div class="rounded-md m-1 flex space-x-2 items-center  hover:bg-gray-100 hover:cursor-pointer">
        <img class="h-8 w-8 rounded-full" src="../../../assets/logo.jpeg" alt="">
        <span class="text-sm">Mohcine Lnaouar</span>
      </div>
      <div class="rounded-md m-1 flex space-x-2 items-center  hover:bg-gray-100 hover:cursor-pointer">
        <img class="h-8 w-8 rounded-full" src="../../../assets/logo.jpeg" alt="">
        <span class="text-sm">Mohcine Lnaouar</span>
      </div>
      <div class="rounded-md m-1 flex space-x-2 items-center  hover:bg-gray-100 hover:cursor-pointer">
        <img class="h-8 w-8 rounded-full" src="../../../assets/logo.jpeg" alt="">
        <span class="text-sm">Mohcine Lnaouar</span>
      </div>
      <div class="rounded-md m-1 flex space-x-2 items-center  hover:bg-gray-100 hover:cursor-pointer">
        <img class="h-8 w-8 rounded-full" src="../../../assets/logo.jpeg" alt="">
        <span class="text-sm">Mohcine Lnaouar</span>
      </div>
      <div class="rounded-md m-1 flex space-x-2 items-center  hover:bg-gray-100 hover:cursor-pointer">
        <img class="h-8 w-8 rounded-full" src="../../../assets/logo.jpeg" alt="">
        <span class="text-sm">Mohcine Lnaouar</span>
      </div>
      <div class="rounded-md m-1 flex space-x-2 items-center  hover:bg-gray-100 hover:cursor-pointer">
        <img class="h-8 w-8 rounded-full" src="../../../assets/logo.jpeg" alt="">
        <span class="text-sm">Mohcine Lnaouar</span>
      </div>
    </div>
  </div>
</div>
